/* Codédex - JavaScript Course */
/* Final Project: Pomodoro/To-do list app */
/* styles.css */

/* Body page */
body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #1f2937;
  background: linear-gradient(to bottom, #dee7b3, #aeba6f);
  padding: 2rem;
  margin: 1rem;
}

/* Heading section */
.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.heading-content {
  text-align: center;
}

#title {
  font-weight: 800;
  font-size: 50px;
  font-style: normal;
  color: #aeba6f;
}

#tomato-icon {
  text-align: center;
}

.highlight-box {
  background-color: #aeba6f;
  height: 40px;
  padding: 0 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#random-tagline {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  
}

/* Timer section */
.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin: 0 auto;   
  background-color: #ffffff6a;
  width: 480px;
  max-width: 100%;
  height: 340px;
  max-height: 100%;
  border-radius: 10px;
}

.timer-content {
  padding: 1rem;
  text-align: center;
}

#minutes-input {
  background: #ffffff8b;
  border: none !important;
  color:#aeba6f !important;
  font-family: "Lexend", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

#minutes-input::placeholder {
  color:#aeba6f;
}

#minutes-input:focus {
  outline: none;
}

#set-button {
  width: 150px;
}

#timer-display {
  font-weight: 600;
  font-size: 100px;
  font-style: normal;
  color: #aeba6f;
  padding: 1.8rem;
}

button {
  background-color: #ffffff;
  color: #aeba6f;
  width: 130px;
  height: 50px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  border: none;
  border-radius: 6px;
  transition: all 0.2s ease-in-out
}

button:hover {
  transform: translateY(-10px); 
  filter: brightness(1.1);      
  box-shadow: 5px 5px #aeba6f; 
}

button:active {
  transform: translateY();    
  filter: brightness(0.9);      
  box-shadow: 5px 5px #aeba6f;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#minutes-input { 
    width: 80px;
    padding: 10px;
    border: 1px solid rgb(203, 208, 213);
    border-radius: 6px;
    font-family: "Verdana", sans-serif;
}



#task-form {
    margin-top: 20px;
    display: flex;
}

#task-input {
    flex: 1;
    padding: 10px;
}

form input {
    width: 80px;
    padding: 10px;
    border: 1px solid rgb(203, 208, 213);
    border-radius: 6px;
    font-family: "Verdana", sans-serif;
}

#submit-button {
    font-weight: bold;
    color: white;
    background-color: rgb(46, 94, 39);
    border: 0;
    border-radius: 12px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-style: italic;
    padding: 10px;
    background: none;
    margin: 10px 0;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

#credits {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-style: italic;
}
